footer.footer   
    .footer__content 
        .footer__content-left
            img.footer__content-logo(src="./images/Logo.webp", alt="")
            .footer__content-network
                a(href="")
                    img.footer__content-icon(src="./images/facebook.webp", alt="") 
                a(href="")
                    img.footer__content-icon(src="./images/insta.webp", alt="") 
                a(href="")
                    img.footer__content-icon(src="./images/tg.webp", alt="") 
            .footer__content-contacts 
                .footer__content-contact
                    h3.footer__content-title CONTACT
                    p.footer__content-all (302) 555-0107
                    p.footer__content-all (239) 555-0108
                    a.footer__content-all laperle.com
                .footer__content-location
                    h3.footer__content-title LOCATION
                    p.footer__content-all 1901 Thornridge Cir. Shiloh,
                    p.footer__content-alls Hawaii 81063
        .footer__content-right
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d667.0222991500295!2d69.30309119339351!3d41.3560791567581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef35bcf9e1e1f%3A0xb14834e1af288ceb!2sSantini%20bar%20%26%20terrace!5e0!3m2!1sru!2s!4v1647962132252!5m2!1sru!2s" width="700" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>