main.main   
    .main__content 
        .main__content-head
            .main__content-menuAll
                img.main__content-img(src="./images/main__menu.webp", alt="")
            .main__content-menu 
                h3.main__content-title MENU
                p.main__content-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
                a(href="./about.html").main__content-link READ MORE
        .main__content-head
            .main__content-menu 
                h3.main__content-titles EVENTS
                p.main__content-descs Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam maecenas purus velit interdum augue. Amet diam diam ultrices ut tincidunt. Risus semper sit mauris, vitae. Vel arcu bibendum accumsan, lacinia nisl.
                a.main__content-links READ MORE
            .main__content-menuAll
                img.main__content-imgs(src="./images/main__events.webp", alt="")


        .main__content-head
            .main__content-menuAll
                img.main__content-ims(src="./images/main__aboutUs.webp", alt="")
            .main__content-menu 
                h3.main__content-title ABOUT US
                p.main__content-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
                a.main__content-link READ MORE
    .main__choice
        .main__choice-rel
            img.main__choice-img(src="./images/main__bottom1.webp", alt="")
            p.main__choice-des VALENTINE’S DAY
        .main__choice-rel
            img.main__choice-img(src="./images/main__bottom2.webp", alt="")
            p.main__choice-des ENJOY 25% OFF DINNER 
        .main__choice-rel
            img.main__choice-img(src="./images/main__bottom3.webp", alt="")
            p.main__choice-des FISH TARTARE WITH WASABI
        .main__choice-rel
            img.main__choice-img(src="./images/main__bottom4.webp", alt="")
            p.main__choice-des RESTAURANT REVIEW
        .main__choice-rel
            img.main__choice-img(src="./images/main__bottom5.webp", alt="")
            p.main__choice-des MOTHER’S DAY
        .main__choice-rel
            img.main__choice-img(src="./images/main__bottom6.webp", alt="")
            p.main__choice-desc CONTINUE READING OUR NEWS HERE 
    .main__reserve 
        .main__reserve-jeneral
            .main__reserve-left
                .main__reserve-midlle 
                    .main__reserve-first 
                        p.main__reserve-abouts
                          input.main__reserve-about(type="" placeholder="Date") 
                        p.main__reserve-abouts
                          input.main__reserve-about(type="How many people" placeholder="How many people")
                        p.main__reserve-abouts  
                          input.main__reserve-about(type="" placeholder="Your name")
                        p.main__reserve-workDay Monday - Sunday ; 09:00 - 02:00
                    .main__reserve-second
                        p.main__reserve-abouts
                          input.main__reserve-about(type="" placeholder="Time") 
                        p.main__reserve-abouts
                          input.main__reserve-about(type="" placeholder="Special wishes") 
                        p.main__reserve-abouts
                          input.main__reserve-about(type="" placeholder="Your phone") 
                        a.main__reserve-reservation RESERVATION 
            .main__reserve-right
                h2.main__reserve-title RESERVE A TABLE
                p.main__reserve-des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. 
                p.main__reserve-des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.
            