main.main   
    .main__contents
        .main__contents-cards 
            .main__contents-card 
                img.main__contents-img(src="./images/main__drink.webp", alt="")
                p.main__contents-titles  DRINKS 
                a.main__contents-linke(href="") MORE 
            .main__contents-card 
                img.main__contents-img(src="./images/main__kitchen.webp", alt="")
                p.main__contents-title  KITCHEN 
                a.main__contents-link(href="./second.html") MORE
            .main__contents-card 
                img.main__contents-img(src="./images/mein__desert.webp", alt="")
                p.main__contents-title  DESSERT
                a.main__contents-link(href="") MORE
            .main__contents-card 
                img.main__contents-img(src="./images/main__vino.webp", alt="")
                p.main__contents-title  DRINKS 
                a.main__contents-link(href="") MORE
    .main__reserve 
        .main__reserve-jeneral 
            .main__reserve-left
                .main__reserve-midlle 
                    .main__reserve-first 
                        p.main__reserve-abouts
                          input.main__reserve-about(type="" placeholder="Date") 
                        p.main__reserve-abouts
                          input.main__reserve-about(type="How many people" placeholder="How many people")
                        p.main__reserve-abouts  
                          input.main__reserve-about(type="" placeholder="Your name")
                        p.main__reserve-workDay Monday - Sunday ; 09:00 - 02:00
                    .main__reserve-second
                        p.main__reserve-abouts
                          input.main__reserve-about(type="" placeholder="Time") 
                        p.main__reserve-abouts
                          input.main__reserve-about(type="" placeholder="Special wishes") 
                        p.main__reserve-abouts
                          input.main__reserve-about(type="" placeholder="Your phone") 
                        a.main__reserve-reservation RESERVATION 
            .main__reserve-right
                h2.main__reserve-title RESERVE A TABLE
                p.main__reserve-des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. 
                p.main__reserve-des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.            
