main.main
    .main__section
        .main__section-card
            .main__section-left 
                img.main__section-img(src="./images/first.webp", alt="")
            .main__section-right 
                h2.main__section-title 1 st
                .main__section-all
                    .main__section-div 
                    p.main__section-dec CITRUS SALAD
                    p.main__section-text Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette ................................................... 18$
                    .main__section-div 
                    p.main__section-dec CHILLED WHITE ASPARAGUS
                    p.main__section-text Baby Lettuces, Mussel Broth & Calabrese Chili............................................................. 21$
                    .main__section-div 
                    p.main__section-dec FOIE GRAS TERRINE
                    p.main__section-text Rabbit, Carrots & Brioche.................................................................................................. 25$
                    .main__section-div 
                    p.main__section-dec BUCATINI
                    p.main__section-text Butter, Chili, Mussel Broth & Bottarga............................................................................ 15$
                    .main__section-div 
                    p.main__section-dec CHAWANMUSHI
                    p.main__section-text Mushrooms, Jalapeño, Radish & Scallions...................................................................... 17$
                    .main__section-div 
                    p.main__section-dec MATZAH BALL SOUP
                    p.main__section-text Poached Matzah Ball, Chicken Broth & Winter Vegetable........................................... 27$
                    .main__section-div 
                    p.main__section-dec CITRUS SALAD
                    p.main__section-text Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette ................................................... 18$
                    .main__section-div 
                    p.main__section-dec CHILLED WHITE ASPARAGUS
                    p.main__section-text Baby Lettuces, Mussel Broth & Calabrese Chili............................................................ 21$
                    .main__section-div 
                    p.main__section-dec FOIE GRAS TERRINE
                    p.main__section-text Rabbit, Carrots & Brioche................................................................................................. 25$
                    .main__section-div 
                    p.main__section-dec BUCATINI
                    p.main__section-text Butter, Chili, Mussel Broth & Bottarga........................................................................... 15$
                    .main__section-div 
                    p.main__section-dec CHAWANMUSHI
                    p.main__section-text Mushrooms, Jalapeño, Radish & Scallions..................................................................... 17$
                    .main__section-div 
                    p.main__section-dec MATZAH BALL SOUP
                    p.main__section-text Poached Matzah Ball, Chicken Broth & Winter Vegetable.......................................... 27$
        .main__section-card
            .main__section-left 
                img.main__section-img(src="./images/second.webp", alt="")
            .main__section-right
                h2.main__section-title 2 nd
                .main__section-all
                    .main__section-div 
                    p.main__section-dec POACHED COD
                    p.main__section-text Root Spinach, Bonji & Shellfish Beurre Blanc.............................................................. 35$
                    .main__section-div 
                    p.main__section-dec CHILLED WHITE ASPARAGUS
                    p.main__section-text Baby Lettuces, Mussel Broth & Calabrese Chili........................................................... 21$
                    .main__section-div 
                    p.main__section-dec SQUAB EN CROUTE
                    p.main__section-text Braised Shallots, Wild Mushrooms & Foie Gras........................................................... 35$
                    .main__section-div 
                    p.main__section-dec CRESCENT FARM DUCK
                    p.main__section-text Leg, Satsuma & Red Peshori Pistachio.......................................................................... 33$
                    .main__section-div 
                    p.main__section-dec SNAKE RIVER WAGYU COULOTTE
                    p.main__section-text Turnips, Beets, Horseradish & Borscht Sauce............................................................. 45$
                    .main__section-div 
                    p.main__section-dec MILLBROOK VENISON SADDLE
                    p.main__section-text Beluga Lentils, Braised Cabbage & Mushroom Cacciatore....................................... 50$
                    .main__section-div 
                    p.main__section-dec POACHED COD
                    p.main__section-text Root Spinach, Bonji & Shellfish Beurre Blanc............................................................... 35$
                    .main__section-div 
                    p.main__section-dec CHILLED WHITE ASPARAGUS
                    p.main__section-text Baby Lettuces, Mussel Broth & Calabrese Chili........................................................... 21$
                    .main__section-div 
                    p.main__section-dec SQUAB EN CROUTE
                    p.main__section-text Braised Shallots, Wild Mushrooms & Foie Gras.......................................................... 35$
                    .main__section-div 
                    p.main__section-dec CRESCENT FARM DUCK
                    p.main__section-text Leg, Satsuma & Red Peshori Pistachio.......................................................................... 33$
                    .main__section-div 
                    p.main__section-dec SNAKE RIVER WAGYU COULOTTE
                    p.main__section-text Turnips, Beets, Horseradish & Borscht Sauce............................................................. 45$
                    .main__section-div 
                    p.main__section-dec MILLBROOK VENISON SADDLE
                    p.main__section-text Beluga Lentils, Braised Cabbage & Mushroom Cacciatore....................................... 50$
        .main__section-card
            .main__section-left 
                img.main__section-img(src="./images/3rd.webp", alt="")
            .main__section-right
                h2.main__section-title 3 rd
                .main__section-all
                    .main__section-div 
                    p.main__section-dec OLIVE OIL CAKE
                    p.main__section-text Satsuma & Riesling Sabayon............................................................................................ 21$
                    .main__section-div 
                    p.main__section-dec APPLE TARTE TATIN
                    p.main__section-text Ginger Ice Cream & Miso ................................................................................................ 17$
                    .main__section-div 
                    p.main__section-dec SWEET POTATO CRÈME CARAMEL
                    p.main__section-text Brown Butter Ice Cream & Pecans................................................................................. 15$
                    .main__section-div 
                    p.main__section-dec BROOKLYN BLACKOUT
                    p.main__section-text Confit Leg, Satsuma & Red Peshori Pistachio.............................................................. 18$
                    .main__section-div 
                    p.main__section-dec WARM DATE CAKE
                    p.main__section-text Hazelnut Whiskey Sauce & Crème Fraîche Ice Cream............................................... 25$
                    .main__section-div 
                    p.main__section-dec FOUR FAT FOWL (NY)
                    p.main__section-text Cow's Milk, Pumpkin Seed Butter & Rhubarb............................................................ 30$
                    .main__section-div 
                    p.main__section-dec OLIVE OIL CAKE
                    p.main__section-text Satsuma & Riesling Sabayon............................................................................................ 21$
                    .main__section-div 
                    p.main__section-dec APPLE TARTE TATIN
                    p.main__section-text Ginger Ice Cream & Miso ................................................................................................ 17$
                    .main__section-div 
                    p.main__section-dec SWEET POTATO CRÈME CARAMEL
                    p.main__section-text Brown Butter Ice Cream & Pecans................................................................................. 15$
                    .main__section-div 
                    p.main__section-dec BROOKLYN BLACKOUT
                    p.main__section-text Confit Leg, Satsuma & Red Peshori Pistachio.............................................................. 18$
                    .main__section-div 
                    p.main__section-dec WARM DATE CAKE
                    p.main__section-text Hazelnut Whiskey Sauce & Crème Fraîche Ice Cream............................................... 25$
                    .main__section-div 
                    p.main__section-dec FOUR FAT FOWL (NY)
                    p.main__section-text Cow's Milk, Pumpkin Seed Butter & Rhubarb............................................................ 30$
    .main__reserve 
        .main__reserve-jeneral 
            .main__reserve-left
                .main__reserve-midlle 
                    .main__reserve-first 
                        p.main__reserve-abouts
                          input.main__reserve-about(type="" placeholder="Date") 
                        p.main__reserve-abouts
                          input.main__reserve-about(type="How many people" placeholder="How many people")
                        p.main__reserve-abouts  
                          input.main__reserve-about(type="" placeholder="Your name")
                        p.main__reserve-workDay Monday - Sunday ; 09:00 - 02:00
                    .main__reserve-second
                        p.main__reserve-abouts
                          input.main__reserve-about(type="" placeholder="Time") 
                        p.main__reserve-abouts
                          input.main__reserve-about(type="" placeholder="Special wishes") 
                        p.main__reserve-abouts
                          input.main__reserve-about(type="" placeholder="Your phone") 
                        a.main__reserve-reservation RESERVATION 
            .main__reserve-right
                h2.main__reserve-title RESERVE A TABLE
                p.main__reserve-des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. 
                p.main__reserve-des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.            

            




